/* Demandbridge Teal: #5cdcdc */
/* Demandbridge Red: #F93822 */

/* =============================== */
/*           Main Styles           */
/* =============================== */

:root {
    --db-red: #F93822;
    --db-teal: #5cdcdc;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    margin-bottom: 25px;
}

nav .brand-logo {
    margin-top: 5px;
}

nav li:hover {
    text-decoration: underline;
}

tr {
    line-height: 1;
}

td {
    padding: 10px;
}

footer {
    color: darkgray;
}

.dbe {
    background-color: #6496af;
}

.dba {
    background-color: #f58220;
}

.pay {
    background-color: #ef3d29;
}

.cm {
    background-color: #4f758b;
}

.itl {
    background-color: #6fcbd0;
}

#site-details a {
    color: inherit;
    text-decoration: underline;
}

#site-actions a:first-child {
    margin-left: 0;
}

#card-site-logo {
    width: 300px;
    padding-left: 13px;
}

.site-action-btn {
    width: 115px;
    height: 40px;
    margin: 0 10px;
}

#platforms {
    margin-top: 7vh;
}

.platform-logo {
    max-height: 30px;
}

.platform-header {
    margin: 0;
}

.platform-header > .col {
    padding: 5px;
}

.platform-header > .input-field {
    max-width: 30%;
}

#filter-close {
    top: 14px;
}

#site-edit {
    cursor: pointer;
}

#sites > tbody > tr > td:nth-child(1),
#sites > tbody > tr > td:nth-child(2) {
    width: 35%;
}

/* =============================== */
/*      Materialize Overrides      */
/* =============================== */

.brand-logo {
    font-weight: bold;
    margin-left: 10px;
}

.brand-logo > img {
    height: 60px;
    max-width: 200px;
}

.btn > a {
    color: white;
}

.card-image {
    padding: 10px 0;
}

.collapsible-header {
    font-weight: bold;
}

.cyan {
    background-color: var(--db-teal);
}

.red {
    background-color: var(--db-red);
}

.green {
    background-color: #1cad59;
}

.grey {
    background-color: #2d2926 !important;
}

.collapsible-header > a {
    color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #00bcd4;
}

[type="radio"]:checked + span::after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
}

/* =============================== */
/*      Custom Autocomplete        */
/* =============================== */

#search {
    height: 64px;
    display: inline-block;
    margin-bottom: 0;
}

#search:focus {
    background-color: white;
    border-bottom: 1px solid white;
}

.hl {
    color: #444;
}

.typeahead {
    position: relative;
    display: inline-block;
}

#suggestions {
    top: 57px;
    position: absolute;
    width: 100%;
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    margin-top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#suggestions li {
    background-color: #fff;
    width: 100%;
}

#suggestions li:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
    text-decoration: none;
}

#suggestions li > a {
    display: block;
    font-size: 16px;
    color: #00bcd4;
    line-height: 22px;
    padding: 14px 16px;
}

.typeahead-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #e9e9e9 !important;
    color: #ffffff;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

@media (max-width: 490px) {

    #site-actions button {
        margin-top: 10px;
        margin-left: 0;
    }
    
}

@media (max-width: 992px) {

    /* Hide the menu button when the nav switches to mobile */
    #menu {
        display: none;
    }

}